.button {
    border-radius: 100px;
  }

  .section {
    padding: 8rem 0 7rem;
    text-align: center;
  }
  .nombre,
  .section-description {
    margin-bottom: 1.2rem;
  }
  
  .imagenes {
    position: relative;
  }
  .imagen {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
  }
  .imagen + .imagen {
    display: none;
  }

  .values {
    background-image: url('../imagenes/back.png');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
  }
  .value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
  }
  .value-heading {
    margin-bottom: .3rem;
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }

  .get-help {
    border-bottom: 1px solid #ddd;
  }

  @media (min-width: 550px) {
    .section {
      padding: 12rem 0 11rem;
    }
    .hero {
      padding-bottom: 12rem;
      text-align: left;
      height: 165px;
    }
    .imagen {
      position: absolute;
      top: -7rem;
      right: 3rem;
      max-height: 362px;
      z-index: 3;
    }
    .imagen + .imagen {
      top: -6rem;
      display: block;
      max-width: 73.8%;
      right: 0;
      z-index: 2;
      max-height: 338px;
    }
    .hero-heading {
      font-size: 2.4rem;
    }
  
  }