*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.contaner-all{
    width: 100%;
    max-width: 100px;
    margin: auto;
    text-align: center;
}

img{
    width: 10%;
    float: left;
}

.h1{
    align-self: center;
    float: right;
    font-size: 20px;
    margin-bottom: 50px;
}

.image2{
        width: 30%;
        float: right;
        margin: -20px 300px;
}
