p:nth-child(2) {
    background: rgb(70, 0, 0);
  }

  p::first-line {
    color: #ff0000;
    font-variant: small-caps;
  }

  selector::pseudo-element {
    property:value;
  }

  .bloque{
    color: rgb(136, 0, 0);
    background-color: brown;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
  }